<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <meta name="description" content={{description}}>
    <meta name="author" content="Bijaya Gautam">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <base href="/">
    <link rel="shortcut icon" type="image/png" href="img/favicon.png">
    <link rel="stylesheet" href="css/style.css?v=1.0">
    <script src="https://kit.fontawesome.com/9e54110656.js" crossorigin="anonymous"></script>

</head>
<body>
    {{!-- Menu system --}}
    <header class="main-header">
        <nav class="navbar">
            {{!-- Logo --}}
            <aside class="logo-container" >
                <a href="/"><img src="/img/BijayaGautam_LogoGraphics.svg" alt="bijaya gautam brand logo" class="logo"></a>
            </aside>
        
            {{!-- Hamburger menu --}}
            <aside class="ham-menu">
                <i class="fas fa-bars" id="hamMenu"></i>
            </aside>

            {{!-- Main Menu --}}    
            <menu id="mainMenu" class="main-menu show-hide">
                <a href="/">HOME</a>
                <a href="project/list">VIEW PORTFOLIO</a>
                <a href="contact">CONTACT</a>
                <a href="user/login">MANAGE PORTFOLIO</a>
            </menu>
        </nav>   
    </header>

    <main id="main-container">
        <section class="main-content">
            {{{body}}}
        </section>
    </main>

    {{!-- Main Footer --}}
    <footer class="main-footer">
        <article class="copyright-info">
            <p>&copy; Copyright 2021 by Bijaya Gautam, All Rights Reserved.</p>
        </article>
    </footer>
    <script src="js/index.js"></script>
</body>
</html>