@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

:root {
    --portfolio-theme: #007ca5;
    --portfolio-theme-accent: #a32d22;
    --portfolio-theme-fg: #ffffff;

    --portfolio-text-accent-one: #0e1111;
    --portfolio-text-accent-two: #787a76;
    --portfolio-text-accent-three: #615551;
    
    --portfolio-main-font: 'Rajdhani', sans-serif;
}

/* General style starts */

html,body{
    height: 100%;
}

body,h1,h2,h3,h4,h5,h6,p{
    padding: 0;
    margin: 0;
}

img{
    max-width: 100%;
    height: auto;
}

ul,li{
    list-style: none;
}

a{
    text-decoration: none;
}

th{
    padding: 0 2em 1.5em 1.5em;
}

td{
    padding: 0.7em ;
    white-space: nowrap;
    overflow: hidden; 
    text-overflow:ellipsis;
    max-width: 9em;
}

/* General style ends */

/* Style for header starts */
.main-header {
    background-color: var(--portfolio-theme-fg);
    color: var(--portfolio-text-accent-two);
}

.navbar {
    display: grid;
    grid-template-columns: auto  3em;
    grid-template-areas:  "logo  hamMenuBar"
                          "menu menu";
}

.logo-container{
    background-color: var(--portfolio-theme-fg);
}

.logo {
    grid-area: logo;
    height : 7em;
}

.ham-menu {
    grid-area: hamMenuBar;
    text-align: center;
    padding: 1.9em 0.5rem 0 0;
    font-size: 1.5rem;
}

i{
    color: var(--portfolio-theme);
}

.main-menu{
    grid-area: menu;
}

.main-menu a {
    color: var(--portfolio-text-accent-three);
    font-family: var(--portfolio-main-font);
    font-size: 1.2em;
    font-weight: normal;
    display: block;
    line-height: 2;
    text-align: center;
    font-weight: 600;
}

.main-menu a:hover {
    color: var(--portfolio-theme-accent);
    font-weight: bold;
}
/* Style for header ends */


/* Style for main content starts */
#main-container{
    min-height: 100%;
}
.page-header{
    color: var(--portfolio-theme);
    font-weight: 600;
    font-size: 1.8rem;
}

.page-sub-header{
    color: var(--portfolio-text-accent-three);
    font-weight: 600;
    font-size: 1.7rem;
}

.main-content{
    font-family: var(--portfolio-main-font);
    margin: 1em 2em;
    overflow: auto;
    padding-bottom: 100px;
}

.user-entry-form{
    margin: 0 auto;
    max-width: 30em;
    min-width: 15em;
    padding: 1em;
    box-shadow: 0em 0.1em 0.2em var(--portfolio-text-accent-three);
    border-radius: 0.2em;
}

.form-box label{
    font-weight: 600;
    font-size: 1.3rem;
}

.form-box input{
    width: 90%;
    padding: 0.8em;
    border-radius: 0.2em;
    border: 0.1em solid;
    border-color: var(--portfolio-text-accent-three);
    padding-left: 1.5em;
    margin: 0.6em 0;
}

.form-button{
    margin: 1em 0;
    background-color: var(--portfolio-theme-accent);
    color: var(--portfolio-theme-fg);
    padding: 0.5em 0.8em;
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    border: none;
    border-radius: 0.3em;
}

.other-button{
    margin: 1em 0;
    background-color: var(--portfolio-text-accent-one);
    color: var(--portfolio-theme-fg);
    padding: 0.5em 0.8em;
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    border: none;
    border-radius: 0.3em;
}

.error-message{
    color: var(--portfolio-theme-accent);
    font-weight: 600;
    margin: 0.5em 0;
}

.form-note{
    color: var(--portfolio-theme-accent);
    text-align: center;
    font-weight: 700;
}

.form-dropdown{
    width: 95%;
    padding: 0.8em;
    border-radius: 0.2em;
    border: 0.1em solid;
    padding-left: 1.5em;
    margin: 0.5em;
}

.project-search-area{
    display: grid;
    grid-template-columns: auto;
    margin: 0.5em 0;
    align-items: center;
}

.project-search-area label{
    font-weight: 600;
    font-size: 1.3rem;
}

.no-records{
    text-align: left;
    color: var(--portfolio-theme-accent);
    margin: 5em 0;
    font-size: 0.7rem;
}

.project-details{
    display: grid;
    grid-template-columns: auto;
    margin: 0.5em 0;
    align-items: center;
}

.project-info{
    font-size: 1.5rem;
    font-weight: 500;
}

.page-nav{
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    grid-gap: 1em;
}

.crud-form{
    padding-bottom: 2em;
}

.project-header{
    color: var(--portfolio-theme);
    font-weight: 600;
    font-size: 2rem;
}

.social-media{
    display: grid;
    grid-template-columns: 5em 5em;
    align-items: left;
    text-align: center;
}

.social-media img{
    max-width: fit-content;
}

iframe{
    width:400px;
    height:300px;
}

.frame-container{
    margin: 0 auto;
    width: 30em;
}

/* Style for main content ends */


/* Style for footer starts */
.main-footer{
    background-color: var(--portfolio-text-accent-three);
    color: var(--portfolio-theme-fg);
    font-family: var(--portfolio-main-font);
    text-align: center;
    font-weight: 600;
    position: relative;
    height: 100px;
    margin-top: -100px;
    clear: both;
}

.copyright-info p{
    padding: 2.5em 0;
}
/* Style for footer ends */


.project-container{
    width: 25em;
    margin: auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.skill-row{
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 8em;
}

.column{
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 100%;
    padding: 0.5em;
    align-self: center;
}

.column img{
    width: 70%;
    vertical-align: middle;
}

.skill-column{
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 100%;
    padding: 0.5em;
    align-content: center;
    min-width: 20em;
}

.skill-column img{
    width: 70%;
}


.skill{
    font-weight: 500;
    font-size: 1.3rem;
    color: var(--portfolio-text-accent-one);
}

/* Style to toggle show and hide content */
.show-hide{
    display: none;
}

.project-skills:hover{
    animation: move 10s;
}


/* Media Query Starts Here--- */
@media screen and (min-width: 50em) {
    .intro{
        display: grid;
        grid-template-columns: auto auto;
        align-items: center;
        grid-gap: 3em;
        width: 50em;
        margin: 0 auto;
    }

    .about-portfolio{
        padding: 0 10em;
        width: 28em;
        margin: 0 auto;
    }

    .section-header{
        text-align: center;
        font-size: 2rem;
        padding: 2em 0 1em 0;
    }

    .project-container{
        width: 55em;
        margin: auto;
    }

    .about-project{
        width: 50em;
        margin: auto;
    }

    .dashboard-details{
        width: 80em;
        margin: auto;
    }

    .project-label{
        text-align: right;
    }

    .project-details{
        display: grid;
        grid-template-columns: 2fr 3fr;
        margin: 0.5em 0;
        text-align: left;
        grid-gap: 1em;
    }

    .column{
        flex-basis: 40%;
        align-self: center;
    }
    
    .column img{
        width: 80%;
    }

    .skill-column{
        flex-basis: 40%;
        align-self: center;
        text-align: center;
    
    }
    
    .skill-column img{
        width: 100%;
    }

    .project-search-area{
        display: grid;
        grid-template-columns: auto auto auto ;
        margin: 1em;
        align-items: center;
        grid-gap: 1.5em;
    }

    .page-nav{
        grid-template-columns: 25em 10em;
        margin: 0 7em;
        grid-gap: 4em;
    }

    iframe{
        width:500px;
        height:400px;
    }
    
    .frame-container{
        margin: 0 auto;
        width: 30em;
    }

    .no-records{
        text-align: center;
        font-size: 1rem;
    }
}

@media screen and (min-width: 65em) {
    .navbar {
        grid-template-columns: 15em  auto;
        grid-template-areas:  "logo menu";  
        padding-left: 5em;
        grid-gap: 2em;
    }
    
    .main-menu {
        text-align: center;
        display: flex;
        justify-content: center;
        gap: 5em;
        margin-top: 5em;
    }

    .ham-menu {
        display: none;
    }
    
    .logo {
        grid-area: logo;
        height : 12em;
    }

    .page-header{
        width: 25em;
        margin: auto;
        font-size: 2.5rem;
    }

    .intro{
        grid-template-columns: 22em 30em;
        align-items: center;
        grid-gap: 10em;
        width: 60em;
    }

    .search-area{
        width: 50em;
        margin: auto;
    }

    .project-container{
        width: 70em;
        margin: auto;
    }

    .column{
        flex-basis: 30.33%;
        align-self: center;
    }

    .column img{
        width: 90%;
    }

    .column .project-img:hover{
        filter: sepia(100%);
    }

    .skill-column{
        flex-basis: 30.33%;
        align-self: center;
    }

    .skill-column img{
        width: 90%;
    }

    .skill-column .project-skills:hover{
        filter: sepia(100%);
    }


    .page-nav{
        grid-template-columns: 30em 15em;
        grid-gap: 8em;
    }

    iframe{
        width:800px;
        height:600px;
    }

    .frame-container{
        margin: 0 auto;
        width: 50em;
    }
}

@media screen and (min-width: 85em) {
    .navbar {
        grid-gap: 20em;
    }

    .column{
        flex-basis: 22.33%;
        align-self: center;
        padding-bottom: 2em;
    }

    .column img{
        width: 90%;
    }

    .skill-column{
        flex-basis: 25%;
        align-self: center;
    }

    .skill-column img{
        width: 90%;
    }

}


/* KEYFRAME ANIMATION STARTS HERE */
@keyframes move {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}