<section class="about-project">
    <div class="page-nav">
        <h1 class="project-header">Contact Details</h1>
        <a href="img/Resume_BijayaGautam.pdf" download="BijayaGautam_Resume.pdf" class="other-button">Download Resume</a>
    </div>

    <div class="project-details">
        <h2 class="project-label">Email :</h2>
        <p class="project-info">bijayagautam.ca@outlook.com</p>
    </div>
    <div class="project-details">
        <h2 class="project-label">Phone Number :</h2>
        <p class="project-info">(647) 278-4001</p>
    </div>
    <div class="project-details">
        <h2 class="project-label">Social Media Links :</h2>
        <div class="project-info social-media">
            <a href="https://www.linkedin.com/in/bijaya-gautam-3aa96916a" target="_blank"><img src="img/Linkedin logo.svg" alt="linkedin logo">LinkedIn</a>
            <a href="https://github.com/bijayagautam" target="_blank"><img src="img/Github logo.svg" alt="github logo">GitHub</a>
        </div>
    </div>
</section>