<section class="intro">
    <article>
        <h1 class="page-header">Hi, I’m Bijaya Gautam.</h1>
        <h2 class="page-sub-header">I’m a Designer and a Developer.</h2>
        <summary class="section-details">I am passionate about designing and building Dynamic, Clean, Responsive, Functional, and Accessible websites. I specialize in creating User Interface/ User Experience, Page layout, Illustrations, and Graphics such as logos and icons. I have learned diverse work culture working as a consultant with several clients like Dell, Accenture, and Wells Fargo by designing, developing, and understanding complex websites and information architecture. </summary>
    </article>
    
    <figure>
        <img src="/img/imagine-design-develop.svg" alt="Imagine Design Develop graphic image">
    </figure>
</section>

<section class="project-container">
    <aside class="skill-sets">
        <h2 class="section-header">TECHNICAL SKILL SETS</h2>
    </aside>

    <article class="skill-row">
        <figure class="skill-column">
            <img src="/img/Web Design and Development.svg" alt="graphic of web design & development" class="project-skills"></img>
            <p class="skill">Web Design and Development</p>
        </figure>

        <figure class="skill-column">
            <img src="/img/UI UX.svg" alt=" graphic of UI UX design" class="project-skills"></img>
            <p class="skill">UI/UX Design</p>
        </figure>  

        <figure class="skill-column">
            <img src="/img/Page Layout.svg" alt="graphic of page layout" class="project-skills"></img>
            <p class="skill">Page Layout</p>
        </figure>  

        <figure class="skill-column">
            <img src="/img/Typography.svg" alt="graphic of typography" class="project-skills"></img>
            <p class="skill">Typography</p>
        </figure>  

        <figure class="skill-column">
            <img src="/img/Illustration.svg" alt="graphic of illustration" class="project-skills"></img>
            <p class="skill">Illustration</p>
        </figure>  

        <figure class="skill-column">
            <img src="/img/Brand Identity.svg" alt="graphic of brand identity" class="project-skills"></img>
            <p class="skill">Brand Identity</p>
        </figure>  
      
    </article>
    
</section>

<section class="about-portfolio">
    <h2 class="section-header">ABOUT PORTFOLIO</h2>
    <summary class="section-details">This is a dynamic portfolio website build using MVC architectural pattern with the help of development tools and technology such as HTML, CSS, JAVASCRIPT, NODE.JS, EXPRESS HANDLEBARS, MONGO DB, and VS CODE. The portfolio design piece are build using Adobe creative cloud such as Illustrator, Photoshop, InDesign, and XD. Furthermore, the codes are then pushed to GitHub and deployed through Heroku. Please have a look around. Enjoy! </summary>
</section>

  