<div>
    <p class="release-note">In Progress....Completion Date 2021-04-22</p>
</div>
<section class="intro">
    <aside>
        <h1 class="page-header">Hi, I’m Bijaya Gautam.</h1>
        <h2 class="page-sub-header">I’m a Designer and a Developer.</h2>
        <p>I am passionate about designing and building Dynamic, Clean, Responsive, Functional, and Accessible websites. I feel peaceful creating User Interface/ User Experience, Page layout, Illustrations, and Graphics such as logos and icons. I have learned diverse work culture working as a consultant with several clients like Dell, Accenture, and Wells Fargo by designing, developing, and understanding complex websites and information architecture. </p>
    </aside>
    
    <aside>
        <img src="/img/Graphic Initials_BijayaGautam.jpg" alt="Bijaya Gautam initial image">
    </aside>
</section>

<section class="about-portfolio">
    <h2 class="section-header">ABOUT PORTFOLIO</h2>
    <p>This is a dynamic portfolio website build using MVC architectural pattern with the help of development tools and technology such as HTML, CSS, JAVASCRIPT, NODE.JS, EXPRESS HANDLEBARS, MONGO DB, and VS CODE. The portfolio design piece are build using Adobe creative cloud such as Illustrator, Photoshop, InDesign, and XD. Furthermore, the codes are then pushed to GitHub and deployed through Heroku. Please have a look around. Enjoy! </p>
</section>

<section class="project-container">
    <section class="skill-sets">
        <h2 class="section-header">SKILL SETS</h2>
    </section>

    <article class="row">
        <header class="column">
            <img src="/img/Web Design and Development.svg" alt="graphic of web design & development" class="project-skills"></a>
            <p class="skill">Web Design and Development</p>
        </header>

        <header class="column">
            <img src="/img/UI UX.svg" alt=" graphic of UI UX design" class="project-skills"></a>
            <p class="skill">UI UX Design</p>
        </header>  

        <header class="column">
            <img src="/img/Page Layout.svg" alt="graphic of page layout" class="project-skills"></a>
            <p class="skill">Page Layout</p>
        </header>  

        <header class="column">
            <img src="/img/Typography.svg" alt="graphic of typography" class="project-skills"></a>
            <p class="skill">Typography</p>
        </header>  

        <header class="column">
            <img src="/img/Illustration.svg" alt="graphic of illustration" class="project-skills"></a>
            <p class="skill">Illustration</p>
        </header>  

        <header class="column">
            <img src="/img/Brand Identity.svg" alt="graphic of brand identity" class="project-skills"></a>
            <p class="skill">Brand Identity</p>
        </header>  
      
    </article>

</section>

  