<section>
    <h1 class="page-header">{{projectTitle}} Project Details</h1>
</section>

<section class="project-list project-container">
    <article class="row">
        <header class="column">
            <a href="/project/details"><img src="/img/uploads/{{projectImage}}"></a>
            <a href="/project/list">Back to Portfolio</a>   
        </header>       
    </article>
</section>